@import "tailwindcss";

:root {
  --base-color: #ffffff;
  --foreground: #171717;
  --background-color:#1C64F2;
  --button-color:#1A56DB;
  --text-mainColor:#111928;
  --text-secondaryColor:#6B7280;
  --border-color:#D1D5DB;
  /* fonts */
  --font-primary: 'Inter', sans-serif;
}

body {
  font-family: var(--font-primary);
}
